<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="OurTravelApp"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OurTravelApp"
        tools:targetApi="31">
        <activity
            android:name=".DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".settingsprofile"
            android:exported="false" />
        <activity
            android:name=".DevelopersActivity"
            android:exported="false" />
        <activity
            android:name=".ShowTicketInfo"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".UnderConstructionActivity"
            android:exported="false" />
        <activity
            android:name=".BusScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".BusTicketActivity"
            android:exported="false" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".DistrictPageActivity"
            android:exported="false" />
        <activity
            android:name=".DistrictActivity"
            android:exported="false" />
        <activity
            android:name=".DivisionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Owners_pending_page"
            android:exported="false" />
        <activity
            android:name=".Carts_page"
            android:exported="false" />
        <activity
            android:name=".My_resorts_page"
            android:exported="false" />
        <activity
            android:name=".Resort_Booking_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".checker_activity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".User_profile"
            android:exported="false" />
        <activity
            android:name=".UploadResortActivity"
            android:exported="false" />
        <activity
            android:name=".CottageBDActivity"
            android:exported="false" />
        <activity
            android:name=".DemoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>